<div class="container mt-5 px-0 size">
  <app-heading></app-heading>
  <p class="container red my-4 mx-5">* Required</p>
  <!-- <p>1. Enter your first name</p> -->
  <div class="container mx-5 pb-4 col-lg-10">
    <form>
      <div class="mb-lg-5">
        <label for="fname" class="form-label pb-3"
          >1. Enter your first name <span class="red">*</span></label
        >
        <input
          type="text"
          class="form-control mx-3 input-lg"
          id="fname"
          placeholder="Enter your answer here"
        />
      </div>
      <div class="mb-lg-5">
        <label for="lname" class="form-label pb-3"
          >2. Enter your last name <span>*</span></label
        >
        <input
          type="text"
          class="form-control mx-3 input-lg"
          id="lname"
          placeholder="Enter your answer here"
        />
      </div>
      <div class="mb-lg-5">
        <label for="lname" class="form-label pb-3"
          >3. Gender <span>*</span></label
        >
        <div class="form-check mx-3 pb-3">
          <input
            class="form-check-input"
            type="radio"
            name="flexRadioDefault"
            id="male"
          />
          <label class="form-check-label mx-1" for="male">Male</label>
        </div>
        <div class="form-check mx-3 pb-3">
          <input
            class="form-check-input"
            type="radio"
            name="flexRadioDefault"
            id="female"
          />
          <label class="form-check-label mx-1" for="female">Female</label>
        </div>
        <div class="form-check mx-3 pb-3">
          <input
            class="form-check-input"
            type="radio"
            name="flexRadioDefault"
            id="pns"
          />
          <label class="form-check-label mx-1" for="pns">
            Prefer not to say
          </label>
        </div>
      </div>
      <button type="submit" class="btn btn-lg">Submit</button>
    </form>
  </div>
</div>
